@media (min-width: 768px) {
  .insertBody {
    width: 344px;
  }
}

.insertBody {
  height: 175px;
  background-color: white;
  margin-bottom: 19px;
}

.insertBody form {
  display: flex;
  flex-direction: column;
}

.insert {
  margin: 17px 23px 0px 23px;
  height: 81px;
  font-family: "Pretendard-Regular";
  border: none;
  resize: none;
}

.insert::placeholder {
  color: #848484;
}

.insertbt {
  margin: 0px 23px 21px 23px;
  height: 56px;
  background: #4C966E;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Pretendard-Bold";
  font-size: 16px;
}

.boarditem {
  color: white;
  padding: 17px 23px;
  font-family: 'Pretendard-Medium';
  border-radius: 5px;
  margin-bottom: 19px;
}
