/* 작성자: 유다영
한일: event 페이지 UI  */

@media (min-width: 768px) {
  .wrap {
    width: 344px;
    margin: 0 auto;
    /*background-color: #f6f5f1;*/
  }
}

/* 정답 입력 input과 확인하기 button을 묶은 div */
.topbox {
  position: relative;
  width: 344px;
  height: 134px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 33px;
}

.eventinput {
  width: 312px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* 개행 처리 */
  white-space: pre-wrap;
  position: absolute;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 16px;
}
/* input 박스의 placeholder */
.eventinput::placeholder {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  color: #848484;
  padding-left: 10px;
  line-height: 24px;
}
/* 확인하기 버튼 */
.button {
  width: 344px;
  height: 56px;
  left: 34px;
  top: 314px;
  margin-top: 78px;
  padding: 0;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  color: #ffffff;
  line-height: 19.2px;
  text-align: center;
  background-color: #4c966e;
  border-radius: 5px;
  border: none;
}
/* 참여방법부터 아래 박스들을 하나로 묶은 div 박스 */
.bottombox{
  width: 344px;
  margin-bottom: 72px;
  margin: 0 auto;
  margin-bottom: 72px;
}
/* 참여 방법 text*/
.jointext {
  display: inline-block;
  margin: 9px 270px 0px 0px;
  font-family: "Pretendard-Bold";
  font-size: 20px;
  line-height: 24px;
  color: #4c966e;
  font-style: normal;
}
/* 참여 방법을 감싸는 container 흰색 박스  */
.container {
  background-color: #ffffff;
  width: 344px;
  height: 259px;
  margin: 17px 0px 26px 0px;
  padding: 1.8px 0;
  border-radius: 5px;
  text-align: center;
}
/* STEP 01, 02, 03, 04, 05 box */
.stepbox {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  line-height: 30px;
  color: #4c966e;
  width: 98px;
  height: 30px;
  margin: 18px 218px 13px 28px;
  background-color: #ffffff;
  border: #4c966e;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}
/* 참여 방법의 STEP 03, 04, 05를 감싸는 제일 큰 흰색 박스  => text가 2줄임 */
.containerbig {
  background-color: #ffffff;
  width: 344px;
  height: 292px;
  margin: 26px auto;
  padding: 1.8px 0px;
  border-radius: 5px;
  text-align: center;
}
/* 박스 안 이미지 */
.stepimg {
  text-align: center;
  display: block;
  width: 283px;
  height: 143px;
  margin: 0px auto;
}
/* 박스 안 설명글 박스 STEP 01, 02 */
.text{
  width: 289px;
  height: 24px;
  margin: 13px 27px 18px 28px;
}
/* 박스 안 설명글 박스 STEP 03-05 */
.textlast{
  width: 283px;
  height: 48px;
  margin: 18px 33px 19px 28px;
  /* padding: 11px 27px 18px 27px; */
}
/* step 1 박스 안 글 */
.steptext_1 {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  line-height: 24px;
  color: #0e1013;
  text-align: left;
}
/* step 2,3,4,5 박스 안 글 */
.steptext {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  line-height: 24px;
  color: #0e1013;
  text-align: left;
}
