@media (min-width: 768px){

    .gradient{
        background : linear-gradient(180deg, #EAEADC 56.17%, rgba(234, 234, 220, 0) 102.13%);
    }

    .poster{
        width: 427px;
        /* overflow-x: hidden; */
    }

    .date {
        font-size: 20px !important;
    }


}
/*밑에 있는 아이들이 우선순위가 높으므로 !important*/
.gradient{
    background : linear-gradient(180deg, #EAEADC , rgba(234, 234, 220, 0) 63%);
}

.poster{
    width: 100%;
    margin-top: 70px;
    
}

.date {
    width: 350px;
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #689B80;
    margin: 25px auto;
    display: inline-block;
}

.line{
    width: 156px; /*136*/
    height: 0px;
    margin: 112px auto;
    border: 0.5px solid #689B80;
    background-color: #689B80;
    transform: rotate(90deg);
}

.keywordDiv{
    position: relative;
    width: 412px;
    height: 268px;
    margin: 0px auto;
    margin-bottom: 29px;
}
.keywordDiv img{
    position: absolute;
    width: 190px;
}
.keyword1{
    top: 40px;
    left: 13.5px;

}
.keyword2{
    top: 88.62px;
    /* top: 38.62px; */
    right: 10.59px;
}
.keyword3{
    top: 153px;
    /* top: 97px; */
    left: 60px;
}
.keyword4{
    top: 220px;
    /* top: 160px; */
    right: 36px;
}
.keyword5{
    top: 255px;
    /* top: 191px; */
    left: 13px;
}

.new{
    width: 200px;
    margin: 120px auto;
    
}
/* .section1{
    position: absolute;
    width: 100%;
    height: 697px;
    margin: 0;
    background: linear-gradient(180deg, #EAEADC 56.17%, rgba(234, 234, 220, 0) 102.13%);
} */