@media (min-width: 768px) {
  .modalBackground {
    /* width: 412px !important;
    left: auto !important; */
  }
}

.modalBackground {
  width: 100%;
  background: rgba(50, 50, 50, 0.67);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px; /* 아이폰 사파리에서 위 여백 남는 현상 제거 */
  left: 0;
  padding-top: 164px;
  padding-bottom: 100vh;
}

.modalBackground2 {
  width: 100%;
  background: rgba(50, 50, 50, 0.67);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 64px;
  left: 0;
  padding-top: 164px;
  padding-bottom: 100vh;
}

.modalBody {
  width: 344px;
  height: 349px;
  background-color: white;
  border-radius: 5px;
  animation: 3s ease-out -2s infinite alternate none running shine;
}
/* 정답 모달 시 반짝이는 애니메이션 주기 */
@keyframes shine {
  70% {
    filter:saturate(100%) drop-shadow(white 0px 0px 0px);
  }
  100% {
    filter:saturate(140%) drop-shadow(white 0px 0px 12.9959px);
  }
}
/* @keyframes 앞에도 벤더 프리픽스를 적용 */
@-webkit-keyframes shine {
  70% {
  filter: brightness(1) saturate(100%) drop-shadow(white 0px 0px 0px);
}
100% {
  filter: brightness(1.5) saturate(140%) drop-shadow(white 0px 0px 12.9959px);
} 
}

.modalBody2 {
  width: 344px;
  height: 259px;
  background-color: white;
  border-radius: 5px;
  animation: 2s linear 0s normal none running bell;
}
/* 오답 모달 시 흔들리는 애니메이션 주기 */
@keyframes bell{
  0%, 50%{
    transform: rotate(0deg);
	}
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(5deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-5deg);
  }
}
/* @keyframes 앞에도 벤더 프리픽스를 적용 */
@-webkit-keyframes bell {
  0%, 50%{
    transform: rotate(0deg);
	}
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(5deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-5deg);
  }
}

.modalBody3 {
  width: 344px;
  height: 190px;
  background-color: white;
  border-radius: 5px;
}

.imgbody {
  margin-top: 68px;
  margin-bottom: 44.3px;
}

.correctImg {
  width: 192.6px;
  margin: 0 auto;
}

.modalCotent {
  font-family: "Pretendard-Medium";
  color: #848484;
  line-height: 16.8px;
  margin-bottom: 46px;
}

.modalCotent span {
  font-family: "Pretendard-Bold";
  color: #848484;
}

.deleteModalContent {
  font-family: "Pretendard-Medium";
  text-align: center;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 30px;
}

.modalBody3 hr {
  width: 298px;
  border: 0;
  height: 1px;
  background-color: #c4c4c4;
  margin-bottom: 17px;
}

.modalBody hr {
  width: 298px;
  border: 0;
  height: 1px;
  background-color: #c4c4c4;
  margin-bottom: 17px;
}

.modalBody2 hr {
  width: 298px;
  border: 0;
  height: 1px;
  background-color: #c4c4c4;
  margin-bottom: 17px;
}

.modalButton {
  border: 0;
  background: none;
  color: #848484;
  font-family: "Pretendard-Medium";
  cursor: pointer;
  margin-bottom: 22px;
}

.modalButton3 {
  text-align: center !important;
  border: 0;
  background: none;
  color: #848484;
  font-family: "Pretendard-Medium";
  cursor: pointer;
  margin-bottom: 22px;
}

.deleteButtonBody {
  display: flex;
  justify-content: space-around;
  margin-left: 59px;
  margin-right: 59px;
}

.deleteButtonBody hr {
  transform: rotate(90deg);
  width: 27px;
  border: 0;
  height: 1px;
  background-color: #c4c4c4;
  margin-left: 0;
  margin-right: 0;
}