.fCon {
  margin-top: 25px;
}

.ntcItem {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px auto 1fr;
  background-color: white;
  padding: 34px 23px;
  padding-bottom: 19px;
  padding-top: 14px;
  border-radius: 5px;
  margin-bottom: 19px;
  margin-right: 34px;
  margin-left: 34px;
}

.tagCon {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* 해시태그 CSS 모듈화 수정 필요 */
.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-bold";
  color: #fff;
  font-size: 12px;
  background-color: #4c966e;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: auto;
  height: 16px;
}

.ntcTitle {
  font-family: "Pretendard-bold";
  line-height: 24px;
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: left;
  font-size: 16px;
  padding-top: 5px;
  color: black;
  background-color: white;
  margin-bottom: 5px;
}

.ntcTitleCut {
  font-family: "Pretendard-bold";
  line-height: 24px;
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: left;
  font-size: 16px;
  padding-top: 5px;
  color: black;
  background-color: white;
  margin-bottom: 5px;
}

.ntcContent {
  grid-column: 1/4;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  font-family: "Pretendard-regular";
}

.ntcContentCut {
  grid-column: 1/4;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  font-family: "Pretendard-regular";
}

.moreBtn {
  background-color: white;
  border-style: none;
  text-align: left;
  padding: 0px;
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
}

.ntcimg {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 24px auto;
  /* 줄이고 다 보이기 */
  /* object-fit: contain; */
  /* 확대 자르기 */
  object-fit: cover;
  text-align: center;
}

.openArrow,
.closeArrow {
  width: 18px;
  text-align: left;
}

.openArrow:active {
  transition: transform 200ms ease-out 0s;
  transform: rotate(180deg);
}

.toWrite {
  background-color: #4c966e;
  font-family: "Pretendard-bold";
  color: #fff;
  border-style: none;
  padding: 18px 38%;
  border-radius: 5px;
  margin-bottom: 19px;
  padding-top: 14px;
}

.editbtn {
  background-color: #fff;
  border: none;
  grid-column: 3/4;
  text-align: right;
  height: 18px;
  width: 137px;
}

.button_edit {
  width: 4px;
  height: 18px;
}

.btnContainer {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  border: #4c966e;
  box-shadow: 0px 0px 4px 0px #11111140;
  width: 130px;
  height: 89px;
  background-color: white;
  z-index: 50;
  border-radius: 5px;
  text-align: left;
}

.editdeleteicon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 24px;
  width: 16px;
  height: 16px;
}

#edithr {
  width: 104px;
  border: solid 0.1px #848484;
}

.noCss {
  margin-left: 11px;
  padding: 0px;
}

.deletebtn {
  font-family: "Pretendard-Medium";
  background-color: #fff;
  border: none;
  font-size: 16px;
  color: #fd6060;
}

.editBtn {
  font-family: "Pretendard-Medium";
  background-color: #fff;
  border: none;
  font-size: 16px;
}
