@media (min-width: 768px) {
  .ntcItemWrite {
    width: 344px;
  }
  .submitbtn {
    width: 344px;
  }
}

.body {
  text-align: center;
}
.ntcItemWrite {
  width: 100%;
  height: 321px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 26px;
  border-radius: 5px;
  margin-bottom: 19px;
  border-color: #fff;
}

.hashtagContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* 해시태그 CSS 모듈화 수정 필요 */

.hashtag1 {
  cursor: pointer;
  font-weight: 700;
  width: 58px;
  height: 30px;
  margin-top: 3%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-bold";
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: #c4c4c4;
  /* background-color: #4c966e; */
  border-radius: 5px;
  border: #fff;
}

.hashtag2 {
  cursor: pointer;
  font-weight: 700;
  width: 58px;
  height: 30px;
  margin-top: 3%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-bold";
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: #c4c4c4;
  /* background-color: #d0c7de; */
  border-radius: 5px;
  border: #fff;
}

.hashtag3 {
  cursor: pointer;
  font-weight: 700;
  width: 58px;
  height: 30px;
  margin-top: 3%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-bold";
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: #c4c4c4;
  border-radius: 5px;
  border: #fff;
  /* background-color: #e7d0b6; */
  width: 74px;
}

.ntcTitle {
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: left;
  line-height: 21.6px;
  font-size: 18px;
  /* padding-top: 5px; */
  margin-top: 19px;
  margin-left: 23px;
  margin-right: 23px;
  font-family: "Pretendard-bold";
  color: black;
  border: none;
  font-weight: 700;
  border-bottom: solid 1px #c4c4c4;
  padding-bottom: 15px;
}

.ntcContent {
  white-space: pre-wrap;
  resize: none;
  margin-right: 23px;
  margin-left: 23px;
  grid-column: 1/3;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
  font-family: "Pretendard-regular";
  border: none;
  margin-top: 12px;
}

.moreBtn {
  background-color: white;
  border-style: none;
}

.submitbtn {
  cursor: pointer;
  width: 100%;
  background-color: #4c966e;
  height: 56px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 56px;
  font-size: 16px;
  color: white;
  font-weight: 700;
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

.tagstyle {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  margin-top: 19px;
  line-height: 19.2px;
  color: #0e1013;
}

.all {
  margin-left: 34px;
  margin-right: 34px;
}

.plusdiv {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #c4c4c4;
  width: 137px;
  height: 137px;
  margin-bottom: 27px;
  text-align: center;
}

.plusimg {
  margin: auto;
  width: 37.25px;
  height: 37.25px;
}

/* .hashtag1:focus{
  background-color: #4c966e;
}

.hashtag2:focus{
  background-color:  #d0c7de;
}

.hashtag3:focus {
  background-color: #e7d0b6;
} */

/* .submitbtn:active{background-color: #d0c7de;} */
